body {
  background: #333;
}

header {
  font: bold Arial, Helvetica, sans-serif;
  color: #c00;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  text-align: center;
}

a{
  color: #c00;
  text-decoration: none;
}
a:hover {
  color:white;
}

form {
  text-align: center;
}

.submit {
  cursor: pointer;
}

input {
  width: 30%;
  background: #737373;
  border: none;
  padding: 5px;
  text-align: center;
}

#result, #result2 {
  width: 40%;
  margin: 20px;
  padding: 10px;
}

@media (max-width: 780px), (max-device-width: 780px) {
  input {
    width: 100%;
    margin: 0px 0px 10px 0px;
    padding: 5px 0px;
    font-size: 30px;
  }
  #result, #result2 {
    width: 100%;
    margin: 0px;
    padding: 5px 0px;
    font-size: 30px;
  }
}

@media (max-width:375px), (max-device-width: 375px) {
  input {
    margin: 0px 0px 7px 0px;
    padding: 2px 0px;
  }
}
